#header-component {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
  color: white;
}

.breadcrumb {
  margin-right: auto;
}

.breadcrumb-link {
  text-decoration: underline;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.breadcrumb-link:hover {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.breadcrumb-separator {
  margin: 0 5px;
  font-size: 16px;
}

.breadcrumb-current {
  font-size: 16px;
}
